.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 20px;  /* free space frame all around */
    z-index: 1;
    /* animation */
    transition-timing-function: ease-in;
    transition: all 0.5s
}

.nav__black {
    background-color: #111;  
}

.nav__content {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    position: fixed;
    left: 0;
    top: 15px;
    width: 80px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}

.nav__avatar {
    position: fixed;
    cursor: pointer;
    right: 20px;
    width: 30px;
    height: 30px;
}